# Python ignore
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
*.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker/Git
.git
.gitignore
Dockerfile
README.md
